[Unit]
Description=BeoutOS License Activation Service
After=horus-overlay.service
After=network-online.target
After=horus-provisioning.service
Wants=network-online.target
ConditionPathExists=/mnt/horus-config/config/interfaces.conf
ConditionPathExists=!/mnt/horus-config/license/activated
ConditionPathExists=!/mnt/horus-config/license/.unactivated

[Service]
Type=simple
ExecStart=/usr/sbin/horus-activation
Restart=on-failure
RestartSec=10
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

Environment=HORUS_MODE=activation
Environment=BEOUTOS_CONFIG_MOUNT=/mnt/horus-config
Environment=HORUS_WAN_CONFIGURED=1

TimeoutStartSec=300
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
